body {
  font-family: 'Poppins', sans-serif;
  background: #f5f7fa;
  padding: 40px 0px 40px 0px;
}
h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
}
h2.job-title {
  font-weight: 700;
  font-size: 20px;
}

.wrapper {
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  height: 1520px;
  width: 1024px;
  margin: 0 auto;
}
.wrapper div.picture {
  background: #fff3d2;
  width: 1024px;
  margin: 0;
  padding-bottom: 12px;
}
/* div.aside {
 background-color: #f7f7f7;
} */
.header-secondary-left {
  color: #000000;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}
.contact-links {
  color: #000000;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  padding-left: 5px;
}
.bold {
  font-weight: 700;
}
.list-secondary {
  color: #bc6f73;
  font-size: 14px;
  line-height: 24px;
  margin-left: 0px;
  padding-left: 0px;
  list-style-position: inside;
}
.list-secondary-item {
  color: #000000;
}
.contact-block {
  margin-top: 30px;
  margin-left: 40px;
}
.tech-skills-block {
  margin-top: 47px;
  margin-left: 40px;
}
.soft-skills-block {
  margin-top: 44px;
  margin-left: 40px;
}
.main-description {
  padding-top: 60px;
  width: 400px;
}
.job-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  margin-bottom: 0;
}
/* .job-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
} */
.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 40px;
  width: 600px;
  text-align: justify;
}
.list-primary {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  padding-left: 0;
  list-style-position: inside;
}
.list-primary-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  text-decoration: none;
}
.header-primary {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 8px;
}
.highlight {
  color: #bc6f73;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 3px;
}
.job-date {
  font-weight: 400;
  font-size: 12px;
  /* line-height: 15px; */
  color: #a8a8a8;
  margin-bottom: 3px;
}
.job-list {
  font-weight: 400;
  font-size: 14px;
  /* line-height: 24px; */
  color: #595959;
  padding-left: 16px;
  list-style-position: outside;
  /* margin-top: 8px; */
  margin-bottom: 16px;
  width: 525px;
}
.duties {
  margin-top: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
.header-secondary {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-top: 12px;
}
.education-block,
.experience-block {
  margin-bottom: 20px;
}
.education-list {
  margin: 10px 0;
}
.job-div-list {
  margin-top: 20px;
}
.study-name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
}
.course-name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
}
.study-date,
.job-date {
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  margin-bottom: 0px;
}
img {
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  height: 220px;
  width: 220px;
  object-fit: cover;
  justify-content: center;
  border: 2px solid #bc6f73;
}
div.main-content {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
.verticalLine {
  border-left: 1px solid #686868;
}

.closure {
  font-size: 14px;
  font-style: italic;
  color: #a8a8a8;
  padding-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}
